streamlit
pandas
yfinance
plotly
nltk
transformers==4.17.0  # Mettez la version spécifique qui correspond à ce que vous utilisez localement
torch==1.11.0+cu102  # Assurez-vous que la version de PyTorch correspond exactement
torchvision  # ajoutez la version spécifique si nécessaire
torchaudio  # ajoutez la version spécifique si nécessaire


